button {
  border: 2px solid purple;
}

img {
  width: 14%;
}

wsgi-function {
  visibility: hidden;
}

p {
  text-align: left;
  width: 80%;
  padding-left: 10%;
}


.button {
  padding-left: 40%;
}

.container {
  height: 80%;
}

.box {
  width: 55%;
}

.inner-box {
  text-align: left;
  padding-left: 10%;
}

.footer {
  position: absolute;
  bottom: 2%;
}

.language {
  position: absolute;
  top: 2%;
}
