button {
  border: 2px solid purple;
}

wsgi-function {
  visibility: hidden;
}


.container {
  height: 80%;
}

.box {
  width: 50%;
  text-align: left;
}

.text {
  width: 100%;
}

.inner-box {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.button,
.image {
  text-align: center;
}
