html, body {
  background: lightblue;
  font: 1em serif;
  height: 97%;
}

button {
  border: 2px solid purple;
}

img {
  width: 16%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.box {
  text-align: center;
  width: 35%;
}

.footer {
  font: .8em sans-serif;
  position: absolute;
  bottom: 2%;
}

.language {
  position: absolute;
  top: 2%;
}

.language, 
.option {
  font-family: 'Lato' sans-serif;
  font-size: .9em;
}

