html, body {
  background: lightblue;
  font: .95em serif;
  height: 97%;
}

button {
  font-size: .87em;
}

input[type=radio] {
-webkit-transform: scale(0.8, 0.8);
}

/*???*/
* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: left;
  width: 80%;
}

.box {
  text-align: center;
  width: 50%;
}

.box > .text {
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 2%;
  font-size: .94em;
}

.language {
  position: absolute;
  top: 2%;
}

.language, 
.option {
  font-family: 'Lato' sans-serif;
  font-size: .94em;
}
