img {
  width: 15%;
}

wsgi-function, score {
  visibility: hidden;
}


.container {
  height: 80%;
}

.box {
  width: 45%;
}

.button-border button {
  border: 2px solid purple;
}

.button-margin button {
  margin: 5px;
}

.hide-if-bad-result > .text {
  margin: 0 auto;
}
