img {
  width: 14%;
  margin: 2%;
}

wsgi-function {
  visibility: hidden;
}


.button-border button {
  border: 2px solid purple;
}

.button-margin button {
  margin: 5px;
}

.text {
  width: 100%;
}

.box {
  width: 45%;
}

.footer {
  position: static;
  margin-bottom: 1.1em;
}

.language {
  position: static;
  margin-top: -1.1em;
}

.form {
  text-align: left;
}

.red-heart {
  color: red;
}
