img {
  width: 15%;
  margin: 2%;
}

wsgi-function {
  visibility: hidden;
}

p {
  text-align: left;
}


.button-border button {
  border: 2px solid purple;
}

.button-margin button {
  margin: 5px;
}

.box {
  width: 45%;
}

.footer {
  margin-bottom: 1.1em;
}

.language {
  margin-top: -1.1em;
}

.form {
  text-align: left;
}

.red-heart {
  color: red;
}
